.main_signup{
    height: 600px;
    width: 400px;
    /* background-color: rgb(233, 187, 37);
    /* border: 3px solid rgb(217, 11, 207);   */ 
    border: 2px solid rgb(143, 143, 143);
   color: azure;

    padding-top: 20px;
    border-radius: 30px;
    margin-top: 30px;
    margin-left: 70px;
    margin-bottom: 20px;
}
 input{
    width: 350px;
    height: 40px;
    border-radius: 30px;
    text-indent: 10px;
   
   }
   .main_signup :hover{
    transform: scale(1.02);
   }